.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(25, 26, 21, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal {
  position: relative;
  border-radius: 30px;
  background: #fbfbfb;
  padding: 64px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}
